# Python
venv

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# node_modules
node_modules

# serverless
.requirements
.serverless

# vscode
.vscode
